.parent{
    border: solid blue;
    height:300px;
    display:block;
    justify-content: space-around;
    

    
}
.son{
    border:solid green;
    background-color: lemonchiffon;
    margin:1em;
    height:150px;
    display:flex;
    justify-content: space-evenly;
    font-family:cursive ;
    
}
.daughter{
    border:solid purple;
    margin:1em;
    /* height:600px; */
}
.mike{
    border:solid orange;
    margin:1em;
}
.kelly{
    border:solid peru;
    margin:1em;
}

body{
    background-color: lightblue;
    padding:1em;
}